<div class="collapse bg-dark" id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Sobre</h4>
                <p class="text-muted">Galeria muito louca! Fala ai.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contatos</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Follow on Twitter</a></li>
                    <li><a href="#" class="text-white">Like on Facebook</a></li>
                    <li><a href="mailto:rizukegoldslein@gmail.com" class="text-white">Email me</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <i class="fa fa-camera-retro"></i><strong class="pl-2">Galeria</strong>
        </a>
        <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#header">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>